body{
    margin: 0;
    
    background-image: repeating-linear-gradient(173deg, rgb(242,241,240) 0px, rgb(242,241,240) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(137deg, rgb(242,241,240) 0px,
     rgb(242,241,240) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(47deg, rgb(242,241,240) 0px, rgb(242,241,240) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(99deg, rgb(242,241,240) 0px, rgb(242,241,240) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(102,102,102),rgb(151,151,151));
    width: 100%;
}
main{
    width: 100%;
}